.navbar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    background-color: #7ef0fa;
    border: 1px solid #4eced8;
    padding: 6px 16px;
    font-weight: bold;
    border-radius: 2px;
    margin-right: 10px;
}

.search-container input {
    width: 400px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.icons {
    margin-left: auto;
    display: flex;
    gap: 15px;
    font-size: 20px;
}
