<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Beneficio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='beneficio.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="benefit-container">
        <h2 class="benefit-title">{{ beneficio.nombre }}</h2>

        <div class="benefit-description">
            <p>{{ beneficio.descripcion }}</p>
        </div>

        <div class="button-row">
            <a href="{{ url_for('home.home') }}" class="btn volver">← Volver</a>
            {% if session.get('nombre') %}
                {% if siguiendo %}
                    <a onclick="window.location.href='{{ url_for('seguimiento.eliminar_seguimiento', beneficio_id=beneficio.id) }}'"
                    class="btn conseguir seguimiento-activo">Eliminar de Seguimiento</a>
                {% else %}
                <a onclick="window.location.href='{{ url_for('seguimiento.agregar_seguimiento', beneficio_id=beneficio.id) }}'"
                    class="btn conseguir">¿Como lo Consigo? →</a>
                {% endif %}
            {% else %}
                    <a onclick="window.location.href='{{ url_for('auth.printScreen') }}'"
                    class="btn conseguir">Añadir a Seguimiento</a>
                    </div>
            {% endif %}
    </div>
</body>
</html>
