<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="main-content">
        <button class="guide-btn"
        onclick="window.location.href='{{url_for('home.recomendaciones')}}'">Guía de recomendaciones básicas</button>

        <div class="benefits">
            {% for beneficio in beneficios %}
                <div class="benefit-item">
                    <span class="benefit-title">{{ beneficio.nombre }}</span>
                        <button class="detail-btn"
                                onclick="window.location.href='{{ url_for('home.beneficio_detail', beneficio_id=beneficio.id) }}'">
                            Ver detalle <span class="arrow">➜</span>
                        </button>
                </div>
            {% else %}
                <p>No hay beneficios disponibles actualmente.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
