<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Mi Tramite UCM</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div class="container">
        <div class="form-container">
            <div class="form-box registro">
                <h2>Registrarse</h2>
                <form action="{{ url_for('auth.registrar') }}" method="POST">
                    <label for="nombreReg">Nombre Completo</label>
                    <input type="text" id="nombreReg" name="nombreReg" placeholder="Nombre y apellido" required>
                    
                    <label for="correoReg">Correo</label>
                    <input type="email" name="correoReg" id="correoReg" placeholder="Correo" required>

                    <label for="contrasenaReg">Contraseña</label>
                    <input type="password" name="contrasenaReg" id="contrasenaReg" placeholder="Contraseña" required>
                    <button type="submit">Registrarse</button>
                </form>
            </div>

            <div class="divider"></div>

            <div class="form-box login">
                <h2>Iniciar sesión</h2>
                <form action="{{ url_for('auth.login') }}" method="POST">
                    <label for="correoLog">Correo</label>
                    <input type="email" name="correoLog" id="correoLog" placeholder="Correo" required>

                    <label for="contrasenaLog">Contraseña</label>
                    <input type="password" id="contrasenaLog" name="contrasenaLog" placeholder="Contraseña" required>
                    <button type="submit">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
